body {
    margin: 0;
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.header {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
padding: 20px;
}

.row {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
.logo {
    color: white;
    font-size: 20px;
    width: 50px;
    text-decoration: none;
    text-align: center;
    font-family: Verdana;
    text-transform: uppercase;
    padding-left: 80px;
    margin: auto 0;
}
.logo:hover {
    color: green;
}
.header-icon {
    border: none;
    padding-right: 20px;
    background-color: transparent;
    display: inline-block;
    width: 10px;
    position: relative;
    color: white;
    margin: auto;
}
.header-icon:hover{
   color: green;
}
.link {
    margin: auto 0;
    color: white;
    padding-right: 80px;
}
.header-links a {
    color: green;
    text-decoration: none;
    font-size: 14px;
}
.header-links a:hover {
    border-bottom: 1px solid;
}
.main{
    box-sizing: border-box;
    width: 440px;
    height: 580px;
    background: #FFF;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    align-items: center;
    margin: 80px auto;
    padding: 20px 60px;
    }
.box{
    background-color: green;
    border: 1px solid green;
    width: 15px;
    height: 15px;
    margin: 25px -180px 0 -60px;
}
.sign {
    font-size: 20px;
    font-family: Verdana;
    padding-left: 35px;
}
.login {
    text-decoration: none;
    color: greenyellow;
    margin-top: 25px;
    font-size: 18px;
    padding-right: -50px;
}
.login:hover {
    text-decoration: underline;
}
.fb {
    padding: 15px;
    font-size: 20px;
    width: 125px;
    text-align: center;
    text-decoration: none;
    background: #3B5998;
    color: white;
}
.fb:hover {
     opacity: 0.7;
 }
.border {
    border-right: 1px solid grey;
    margin-left: 10px;
    margin-right: 10px;
}
.google {
    background-color: #dd4b39;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    width: 125px;
    padding: 15px;
}
.google:hover {
    opacity: 0.7;
}
hr {
    border: none;
    border-top: 1px solid #eaeaea;
    color: grey;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin: 25px 0;

}

hr:after {
    background: white;
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -10px;
}

.row {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
input[type=text], input[type=password], input[type=email] {
    width: 297px;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #eaeaea;
    background: white;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}
input[type=checkbox]{
    margin-bottom: 20px;
}
.tp {
    text-decoration: none;
    color: green;
}
.tp:hover {
    text-decoration: underline;
}

button {
    background-color: green;
    color: white;
    width: 320px;
    padding: 15px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}


