*
  box-sizing: border-box

.App
  padding: 20px

.products
  padding-left: 30px
  position: relative

.products-item
  color: black
  text-transform: uppercase
  display: inline-block
  border: 1px solid black
  width: 22%
  margin: 17px
  text-align: center
  text-decoration: none
  position: relative

.product-image
  width: 100%
  height: 50vh

.price
  margin: -30px 100px 0

.buttons
  margin-left: 100px

.header
  background-color: black
  margin: 10px
  padding: 0 30px
  border-radius: 10px

.row
  display: flex

.space-between
  justify-content: space-between

.store-name
  color: darkred
  justify-content: center
  font-size: 30px
  margin-right: 700px


.navigation-links
  justify-content: center
  margin-top: 40px

.nav-list
  display: inline-block
  color: darkred
  margin-right: 15px
  font-size: 17px
  text-decoration: none
  margin-bottom: 40px

.modal
  background-color: #e74c3c
  width: 520px
  height: 250px
  border-radius: 3px
  margin-top: -1000px
  margin-left: 350px
  position: absolute

.header1
  font-size: 22px
  color: white
  font-family: helvaticaNeue
  padding: 0 30px
  background-color: rgba(212, 70, 55, 1)
  display: flex
  justify-content: space-between
  align-items: center

.btn-close
  font-size: 40px
  cursor: pointer

.modal-body
  padding: 20px 90px 40px

.modal-text
  font-size: 15px
  color: white
  text-align: center
  margin-bottom: 30px

.btn
  display: inline-block
  border: none
  border-radius: 4px
  background-color: rgba(0, 0, 0, .5)
  color: white
  padding: 10px 15px
  text-align: center
  min-width: 150px
  cursor: pointer
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 400px
  margin: 0 8px
