
    body {
        margin: 0;
    }
    * {
        box-sizing: border-box;
    }
    .header {
        padding-top: 15px;
    }
    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
    .logo {
        font-size: 60px;
        font-family: "Myriad Pro";
        text-decoration: none;
        color: black;
    }
    .blue {
        color: #4bcaff;
    }
   .navigation {
        margin-top: 15px;
        background-color: #35444f;
        display: flex;
        justify-content: center;
    }
    .nav-link {
        border-left: 1px solid rgba(255, 255, 255, 0);
        border-right: 1px solid rgba(255, 255, 255, 0);
        padding: 15px;
        font-size: 24px;
        color: white;
        text-decoration: none;
        transition: all .5s;
    }
    .nav-link:hover {
        background-color: rgba(0, 0, 0, .2);
        border-color: white;
    }
    .content {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .nav-menu {
         border: 1px solid black;
         width: 344px;
     }
     .nav-menu-list {
         list-style-type: none;
         padding: 0;
         margin: 0;
     }
     .nav-menu-list a {
         color: black;
         padding: 25px;
         text-decoration: none;
         display: block;
         font-size: 27px;
         transition: all .5s;
     }
     .nav-menu-list a:hover {
         background-color: lightgrey;
         padding-left: 30px;
     }
     .article {
         width: calc(100% - 390px);
     }
     .article-image {
         border: 1px solid black;
         padding: 60px;
         max-width: 1000px;
     }
     .article-image img {
         display: block;
         max-width: 100%;
         max-height: 100%;
         object-fit: contain;
         object-position: center;
         margin: 0 auto;
     }
     .article p {
         margin-top: 30px;
         padding-left: 35px;
         padding-right: 30px;
     }
     .article-image:hover {
         transform: scale(1.1);
     }
     .footer {
         margin: 0;
     }
     .main-footer {
         background-color: #b4b7b9;
     }
     .row {
         display: flex;
     }
     .space-between {
         justify-content: space-between;
     }
     .footer-nav {
         justify-content: left;
         display: flex;
     }
     .footer-links {
         font-size: 24px;
         color: #0c1927;
         font-family: "Myriad Pro";
         text-decoration: none;
         display: inline;
         padding: 15px;

     }
     .footer-links:hover {
         text-decoration: underline;
         color: #5991ac;
     }
     .copyright {
         text-align: right;
         font-size: 24px;
         padding: 12px;


     }

