*
  box-sizing: border-box

body


.window
  width: 720px
  height: 340px
  justify-content: center
  padding: 40px 100px
  position: relative
  background-color: black

.modal
  background-color: #e74c3c
  width: 520px
  height: 250px
  border-radius: 3px
  margin: auto
  position: absolute


header
  font-size: 22px
  color: white
  font-family: helvaticaNeue
  padding: 0 30px
  background-color: rgba(212, 70, 55, 1)
  display: flex
  justify-content: space-between
  align-items: center

.btn-close
  font-size: 40px
  cursor: pointer

.modal-text
  font-size: 15px
  color: white
  text-align: center
  margin: 30px 45px
.btn
  display: inline-block
  border: none
  border-radius: 4px
  background-color: rgba(0, 0, 0, .5)
  color: white
  padding: 10px 15px
  text-align: center
  min-width: 150px
  cursor: pointer
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  max-width: 400px
  margin: 0 8px

.btns
  padding-left: 100px